.selectCard {
  border: 3px blue solid;
  border-radius: 100%;
  width: 8rem;
  height: 8rem;
  box-shadow: 0 0 39px -6px blue;
}
.selectCard {
  display: flex;
  vertical-align: middle;
  flex-wrap: wrap;
  padding: 2px;
  justify-content: center;
}
.selectCard h3 {
  color: white;
  margin-top: 3rem;
}
