.navbarMain {
  color: white;
  background-color: black;
  height: 40px;
}
.navbarMain ul {
  margin-right: auto;
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbarMain li {
  float: left;
}
.navbarMain li a {
  float: left;
  display: block;
  text-decoration: none;
  color: white;
  padding: 15px 15px 3px;
  text-align: center;
}
.navbarMain li a:hover {
  border-bottom: 3px solid white;
}
.navbarMain li a.active {
  border-bottom: 3px solid white;
}
