.selectCard {
  border: 3px rgb(112, 112, 191) solid;
  border-radius: 100%;
  width: 8rem;
  height: 8rem;

  background-color: black;

  display: flex;
  vertical-align: middle;
  flex-wrap: wrap;
  padding: 2px;
  justify-content: center;
  margin-top: 1rem;
  cursor: pointer;
  transition: 0.3s;
}
.selectCard:hover {
  box-shadow: 0 0 39px -6px rgb(112, 112, 191);
}
.selectCard h3 {
  color: white;
  margin-top: 3rem;
  text-align: center;
}
